name: Build
on:
    push:
        branches: [main]

jobs:
    build:
        name: Swift 6.0
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4

            - uses: maxim-lobanov/setup-xcode@v1
              with:
                  xcode-version: latest-stable

            - name: Build
              run: ./.github/build.sh

            - run: zip -r ./OpenAI.xcframework.zip ./OpenAI.xcframework

            - name: Upload artifact to Emerge
              uses: EmergeTools/emerge-upload-action@v1.1.0
              with:
                  build_type: release
                  artifact_path: ./OpenAI.xcframework.zip
                  emerge_api_key: ${{ secrets.EMERGE_API_KEY }}
